.container {
  margin: auto;
  height: 90vmin;
  width: 90vmin;
  align-items: center;
  justify-content: center;
  position: relative;
}

.canvas {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  image-rendering: pixelated;
}

.main {

}

.grid {
  opacity: 0.1;
}
