.board, .frame {
  height: 100%;
  image-rendering: pixelated;
  position: relative;
  z-index: 1;
}

.blur, .ghost, .debug, .frame {
  image-rendering: pixelated;
  position: absolute;
  z-index: 0;
}

.ghost {
  opacity: 0.09;
}

.blur {
  filter: blur(10px);
  opacity: 0.4;
}