.board {
  height: 100%;
  image-rendering: pixelated;
  position: relative;
  z-index: 1;
}

.blur, .ghost, .debug {
  position: absolute;
  z-index: 0;
}

.ghost {
  opacity: 0.06;
}

.blur {
  filter: blur(15px);
  opacity: 0.5;
}
