* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(22, 14, 24);
  --text: white;
  --border: #342e35;

  background-color: var(--background);
  color: var(--text);

  font-family: sans-serif;
}

html, body {
  height: 100%;
}